# Premier League Analysis
## Imports

In [322]:
import pandas as pd

## Data Sourcing

In [323]:
# Load league data from a csv file.
league_data = pd.read_csv("2024-2025_league_data.csv")

## Data Exploration

In [324]:
# Display first 5 rows of the dataframe.
league_data.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
0,2024-08-17,15:00,Premier League,Matchweek 1,Sat,Home,L,0,3,Brighton,...,1.4,40,"39,217",James Tarkowski,4-2-3-1,4-2-3-1,Simon Hooper,Match Report,NaN,Everton
1,2024-08-24,15:00,Premier League,Matchweek 2,Sat,Away,L,0,4,Tottenham,...,2.4,30,"61,357",James Tarkowski,4-2-3-1,4-3-3,Anthony Taylor,Match Report,NaN,Everton
2,2024-08-27,19:45,EFL Cup,Second round,Tue,Home,W,3,0,Doncaster,...,NaN,61,"37,245",Séamus Coleman,4-2-3-1,4-1-4-1,James Bell,Match Report,NaN,Everton
3,2024-08-31,15:00,Premier League,Matchweek 3,Sat,Home,L,2,3,Bournemouth,...,2.4,47,"38,805",Séamus Coleman,4-2-3-1,4-2-3-1,Stuart Attwell,Match Report,NaN,Everton
4,2024-09-14,17:30,Premier League,Matchweek 4,Sat,Away,L,2,3,Aston Villa,...,2.1,28,"41,573",James Tarkowski,4-2-3-1,4-2-3-1,Craig Pawson,Match Report,NaN,Everton

In [325]:
# Display the shape of the dataframe.
league_data.shape

(994, 21)

In [326]:
# Display types of each column.
league_data.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf               object
ga               object
opponent         object
xg               object
xga              object
poss             object
attendance       object
captain          object
formation        object
opp_formation    object
referee          object
match_report     object
notes            object
team             object
dtype: object

In [327]:
# Display all the teams and the number of matches they played.
league_data["team"].value_counts().reset_index()

                        team  count
0          Manchester United     60
1          Tottenham Hotspur     60
2                    Arsenal     58
3                    Chelsea     57
4                Aston Villa     57
5            Manchester City     57
6                  Liverpool     56
7           Newcastle United     48
8             Crystal Palace     48
9   Brighton and Hove Albion     45
10                    Fulham     44
11               Southampton     44
12         Nottingham Forest     44
13               Bournemouth     43
14   Wolverhampton Wanderers     43
15                 Brentford     43
16            Leicester City     43
17              Ipswich Town     42
18                   Everton     42
19           West Ham United     41
20                      team     19

In [328]:
# Investigate why "team" appears in the list of teams.
league_data[league_data["team"] == "team"]

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
42,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
103,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
147,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
192,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
234,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
280,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
338,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
387,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
431,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
476,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
525,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
568,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
629,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
674,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
732,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
791,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
848,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
892,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team
950,date,time,comp,round,day,venue,result,gf,ga,opponent,...,xga,poss,attendance,captain,formation,opp_formation,referee,match_report,notes,team

In [329]:
# Display teams and the number of matches they won.
league_data[league_data["result"] == "W"].groupby("team").size().reset_index(name="wins").sort_values(by="wins", ascending=False)

                        team  wins
11                 Liverpool    38
5                    Chelsea    35
0                    Arsenal    32
1                Aston Villa    32
12           Manchester City    30
14          Newcastle United    28
17         Tottenham Hotspur    26
13         Manchester United    23
6             Crystal Palace    22
4   Brighton and Hove Albion    21
15         Nottingham Forest    20
3                  Brentford    18
8                     Fulham    18
2                Bournemouth    17
19   Wolverhampton Wanderers    15
7                    Everton    13
18           West Ham United    12
10            Leicester City     8
9               Ipswich Town     6
16               Southampton     5

In [330]:
# Display teams and the number of matches they lost.
league_data[league_data["result"] == "L"].groupby("team").size().reset_index(name="loses").sort_values(by="loses", ascending=False)

                        team  loses
16               Southampton     32
10            Leicester City     27
17         Tottenham Hotspur     26
9               Ipswich Town     24
19   Wolverhampton Wanderers     21
13         Manchester United     20
18           West Ham United     19
12           Manchester City     16
3                  Brentford     16
8                     Fulham     15
1                Aston Villa     15
2                Bournemouth     14
5                    Chelsea     13
7                    Everton     13
14          Newcastle United     13
6             Crystal Palace     12
15         Nottingham Forest     12
4   Brighton and Hove Albion     10
11                 Liverpool      9
0                    Arsenal      9

## Data Cleaning

In [331]:
# Remove rows that are repeats of the column names
league_data = league_data[league_data["team"] != "team"]

In [332]:
# Only include premier league competitions.
league_data = league_data[league_data["comp"] == "Premier League"]

In [333]:
# Create a datetime column.
league_data["datetime"] = pd.to_datetime((league_data["date"] + " " + league_data["time"]))

In [334]:
# Remove date, time, and day columns.
league_data = league_data.drop(columns=["date", "time", "day"])

In [335]:
# Dropping redundant/unneeded columns.
league_data = league_data.drop(columns=["comp", "match_report", "notes"])

In [336]:
# Translate weird column names.
league_data = league_data.rename(columns={"gf": "goals_for",
                            "ga": "goals_against",
                            "xg": "expected_goals",
                            "xga": "expected_goals_allowed",
                            "poss": "possession"})

In [337]:
# Convert goals_for, goals_against and possession to int.
league_data["goals_for"] = league_data["goals_for"].astype(int)
league_data["goals_against"] = league_data["goals_against"].astype(int)
league_data["possession"] = league_data["possession"].astype(int)

In [338]:
# Convert expected_goals and expected_goals_allowed to float.
league_data["expected_goals"] = league_data["expected_goals"].astype(float)
league_data["expected_goals_allowed"] = league_data["expected_goals_allowed"].astype(float)

In [339]:
# Convert attendance to int.
league_data["attendance"] = league_data["attendance"].replace(",", "", regex=True).astype(int)

In [340]:
# Display first 5 rows of cleaned dataframe.
league_data.head()

,round,venue,result,goals_for,goals_against,opponent,expected_goals,expected_goals_allowed,possession,attendance,captain,formation,opp_formation,referee,team,datetime
0,Matchweek 1,Home,L,0,3,Brighton,0.5,1.4,40,39217,James Tarkowski,4-2-3-1,4-2-3-1,Simon Hooper,Everton,2024-08-17 15:00:00
1,Matchweek 2,Away,L,0,4,Tottenham,1.0,2.4,30,61357,James Tarkowski,4-2-3-1,4-3-3,Anthony Taylor,Everton,2024-08-24 15:00:00
3,Matchweek 3,Home,L,2,3,Bournemouth,1.8,2.4,47,38805,Séamus Coleman,4-2-3-1,4-2-3-1,Stuart Attwell,Everton,2024-08-31 15:00:00
4,Matchweek 4,Away,L,2,3,Aston Villa,0.9,2.1,28,41573,James Tarkowski,4-2-3-1,4-2-3-1,Craig Pawson,Everton,2024-09-14 17:30:00
6,Matchweek 5,Away,D,1,1,Leicester City,1.1,0.7,42,31765,James Tarkowski,4-2-3-1,4-2-3-1,Darren England,Everton,2024-09-21 15:00:00

In [341]:
# Display types of each column in the cleaned dataframe.
league_data.dtypes

round                             object
venue                             object
result                            object
goals_for                          int64
goals_against                      int64
opponent                          object
expected_goals                   float64
expected_goals_allowed           float64
possession                         int64
attendance                         int64
captain                           object
formation                         object
opp_formation                     object
referee                           object
team                              object
datetime                  datetime64[ns]
dtype: object

## Data Preparation

In [342]:
league_data = league_data.drop(columns=["round", "goals_for", "goals_against", "datetime"])

In [343]:
league_data["venue"] = pd.Categorical(league_data["venue"])
venues = dict(enumerate(league_data["venue"].cat.categories))
league_data["venue"] = league_data["venue"].cat.codes

In [344]:
league_data["opponent"] = pd.Categorical(league_data["opponent"])
opponents = dict(enumerate(league_data["opponent"].cat.categories))
league_data["opponent"] = league_data["opponent"].cat.codes

In [345]:
league_data["captain"] = pd.Categorical(league_data["captain"])
captains = dict(enumerate(league_data["captain"].cat.categories))
league_data["captain"] = league_data["captain"].cat.codes

In [346]:
league_data["formation"] = pd.Categorical(league_data["formation"])
formations = dict(enumerate(league_data["formation"].cat.categories))
league_data["formation"] = league_data["formation"].cat.codes

In [347]:
league_data["opp_formation"] = pd.Categorical(league_data["opp_formation"])
opp_formations = dict(enumerate(league_data["opp_formation"].cat.categories))
league_data["opp_formation"] = league_data["opp_formation"].cat.codes

In [348]:
league_data["referee"] = pd.Categorical(league_data["referee"])
referees = dict(enumerate(league_data["referee"].cat.categories))
league_data["referee"] = league_data["referee"].cat.codes

In [349]:
league_data["team"] = pd.Categorical(league_data["team"])
teams = dict(enumerate(league_data["team"].cat.categories))
league_data["team"] = league_data["team"].cat.codes

In [350]:
league_data.head()

,venue,result,opponent,expected_goals,expected_goals_allowed,possession,attendance,captain,formation,opp_formation,referee,team
0,1,L,4,0.5,1.4,40,39217,28,8,8,19,7
1,0,L,17,1.0,2.4,30,61357,28,8,10,2,7
3,1,L,2,1.8,2.4,47,38805,58,8,8,20,7
4,0,L,1,0.9,2.1,28,41573,28,8,8,4,7
6,0,D,10,1.1,0.7,42,31765,28,8,8,6,7

In [351]:
league_data.dtypes

venue                        int8
result                     object
opponent                     int8
expected_goals            float64
expected_goals_allowed    float64
possession                  int64
attendance                  int64
captain                      int8
formation                    int8
opp_formation                int8
referee                      int8
team                         int8
dtype: object